<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out some information</ng-template>
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="LastNameCtrl" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="EmailCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Agree to Terms</ng-template>
      <div class="center-doc">
      <iframe width=850 height=400 src="https://docs.google.com/document/d/e/2PACX-1vSvrjhpomA9-uqoOllXPblP6YOCa-6evZIunpw3jI-7ThUD71MPnwLdh2Vu96rsbCMoIy-_nZZATZud/pub?embedded=true"></iframe>
      </div>
      <div class="buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext (click)="createAccount()"> Agree</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Login Information</ng-template>
      <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="Username">Dessert (100g)</th>
        <th mat-sort-header="Password">Calories</th>
      </tr>

      <tr *ngFor="let account of accounts">
        <td>{{account.username}}</td>
        <td>{{account.passwor}}</td>
      </tr>
    </table>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
